<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->
    <context:component-scan base-package="com.lazy1ron.spring"/>
    <context:property-placeholder location="config/application.properties"/>

    <bean id="foreignService" class="com.lazy1ron.spring.resource.service.impl.ForeignServiceImpl">
    </bean>

    <bean id="ownerMessage" class="com.lazy1ron.spring.resource.pojo.OwnerMessage">
        <property name="ownername" value="${spring.application.owner}"/>
    </bean>


    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>config.format</value>
                <value>config.message</value>
            </list>
        </property>

        <property name="defaultEncoding" value="utf-8"/>
        <property name="cacheSeconds" value="0"/>
    </bean>

</beans>